
	<div class="container" align="center">
	<form [formGroup]='newconfForm' >
	
	<div class="row form-group col-lg-10">
	<label for="title"> Title: </label>
	<input type="text"  class="form-control" formControlName='Title'>
	</div>

	<div class="row form-group col-lg-10">
	<label> ParentCat: </label>
	<select formControlName="Parentcat" class="form-control" #baap (change)="update(baap.value)">
	<option [value]="cat.id" *ngFor="let cat of parentcategories">{{cat.category_name}}</option>
	</select>
	</div>
	
	<div class="row form-group col-lg-10">
	<label> Sub Category, if any</label>
	<select formControlName="Subcat" class="form-control" multiple>
	<option [value]="cat.id"
		*ngFor="let cat of subcategories">{{cat.category_name}}</option>
	</select>
	</div>
	
	
	<div class="row form-group col-lg-10">
	<label> From Date:</label>
	<input type="date" class="form-control" formControlName='Fromdate'>
	</div>

	<div class="row form-group col-lg-10">
	<label>To Date: </label>
	<input type="date" class="form-control" formControlName='Todate'>
	</div>
	
	<div class="row form-group col-lg-10">
	<label>Archive date: </label>
	<input type="date" class="form-control" formControlName='Archivedate'>
	</div>
	
	<div class="row form-group col-lg-10">
	<label>Country </label>
	<select formControlName="Country" class="form-control">
	<option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
	</select>
	</div>
	
	<div class="row form-group col-lg-10">
	<label>State </label>
	<select formControlName="State" class="form-control">
	<option [value]="state.id" *ngFor="let state of states">{{state.name}}</option>
	</select>
	</div>
	
	<div class="row form-group col-lg-10">
	<label>City </label>
	<select formControlName="City" class="form-control">
	<option [value]="city.id" *ngFor="let city of cities">{{city.name}}</option>
	</select>
	</div>

	<div class="row form-group col-lg-10">
	<label>Zipcode </label>
	<input type="number" class="form-control" formControlName='Zipcode'>
	</div>
		
			<div class="row form-group col-lg-10">
	<label>Website </label>
	<input type="text" class="form-control" formControlName='Website'>
	</div>
	
	
	<div class="row form-group col-lg-10">
	<label> Email </label>
	<input type="text" class="form-control" formControlName='Email'>
	</div>
	
		<div class="row form-group col-lg-10">
	<label> Ticket Price: </label>
	<input type="number" class="form-control" formControlName='Ticketprice'>
	</div>
	
		<div class="row form-group col-lg-10">
	<label> Description</label>
	<input type="text" class="form-control" formControlName='Description'>
	</div>
	
	
 <button class="btn btn-primary mb-2" align="center" (click)="PostData(newconfForm)">Save for Now</button> &nbsp; &nbsp;
 <button class="btn btn-primary mb-2" align="center" (click)="Navigate(newconfForm)">Move to Uploads</button>
	<span *ngIf="showtime">
	<span *ngIf="result.type == 'true'"> &#x2714; {{result.msg}}</span>
	<span *ngIf="result.type == 'false'"> &#x2717; {{result.msg}}</span>
	</span>	
	</form>


		</div>
