<div class="container" align="center">
	<form [formGroup]='loginForm' (ngSubmit)="PostData(loginForm)" >
	
	<div class="row form-group col-lg-10">
	<label for="title"> Email: </label>
	<input type="text"  class="form-control" formControlName='Email'>
	</div>

	<div class="row form-group col-lg-10">
	<label> Password: </label>
	<input type="text"  class="form-control" formControlName='Password'>
	</div>
	<span *ngIf="error">Incorrect Credentials</span>
		
 <button class="btn btn-primary mb-2" align="center"> Login </button>
 <span *ngIf="tried"> &#x26D4; {{ msg }}</span>
	</form>
		</div>