

	<div class="row col-lg-5">
		<label for="pwd">View the files that are</label>
		<select class="form-control" name="fstatus" [formControl]="fstatus">
			<option value="">Any</option>
			<option value="approved">Accepted</option>
			<option value="pending">Pending</option>
			<option value="rejected">Rejected</option>
        </select>
	</div>  


<table class="table borderless">

	<thead>
		<tr>
			<th>File(click to download/open)</th>
			<th>Type</th>
			
			<th>Conference</th>
			<th>User</th>
			<th>Status</th>
			<th>Action</th>
			
		<tr>
	</thead>
	
	<tbody>
		<tr *ngFor="let file of filteredsubs">
			<td><a href="{{file.file}}" download="{{file.file}}">{{file.title}}</a></td>
			<td>{{file.type}}</td>
			
			<td><a routerLink="/participate/{{file.confid}}">{{file.conference}}</a></td>
			<td (click)="openDialog(file.userid)"><span id="links">{{file.name}}</span></td>
			<td [ngSwitch]="file.statusfile">
				<span *ngSwitchCase="'approved'" class="badge badge-success">approved</span>
				<span *ngSwitchCase="'pending'" class="badge badge-warning">pending</span>
				<span *ngSwitchCase="'rejected'" class="badge badge-danger" >rejected</span>
				<span *ngSwitchDefault class="badge">{{file.statusfile}}</span>
			</td>
			
			<td>
				<button class="btn btn-primary" (click)="ask('Approve')">Accept</button> &nbsp;
				<button class="btn btn-primary" (click)="ask('Reject')">Reject</button>
			</td>
		
		</tr>
	</tbody>
	
</table>

<span *ngIf="submissionsarray?.length <1">There are no submissions at the moment!</span>