<h1 mat-dialog-title> User Details</h1>
<div mat-dialog-content>

	<table class="table borderless">
					<tbody>
	<tr  *ngFor="let prop of user | keyvalue">
		<td>{{prop.key}}</td>
		<td>{{prop.value}}</td>
	</tr>
	</tbody>
	</table>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Okay</button>
</div>