<button type="button" class="btn btn-primary" (click)="del=true">Click to begin deleting</button>

<br/> <br/>
<table class="table borderless" *ngIf="!del">
     <thead class="thead-inverse">
	<tr><th>Main Category</th><th>Sub Categories</th></tr>
	</thead>
	<tbody>
	<tr *ngFor="let obj of catObj | keyvalue"><td>{{obj.key}} -->> </td>
		<td *ngFor="let val of obj.value">{{val}}</td></tr>
	</tbody>
</table>

<div *ngIf="del">
<span style="background-color:yellow">Click on all the categories you want to delete!</span> &nbsp; &nbsp; 
<button type="button" class="btn btn-success" [disabled]="! isValid"  (click)="objready()"> Cick me when Done !</button>
<table class="table">
	<thead class="thead-inverse">
	<tr>
	<th>Category</th>
	</tr>
	</thead>
	<tbody>
		<tr *ngFor="let obj of catForDelete" (click)="isValid=true" >
			<td>{{obj.id}}</td>
			<td (click)="pushintoarray(obj.id)" [ngClass]="{'delforselected' :obj.delforselected}"> {{ obj.category_name}} </td></tr>
	</tbody>
	
</table>
</div>



