<div class="container" align="center">
	
	<div class="row form-group col-lg-10">
		<label for="title"> Title: </label>
		<textarea disabled="disabled" class="form-control">{{ confdetails.Title}}</textarea>
	</div>
	
	<div class="row form-group col-lg-10">
		<label for="title"> Upload Callforpaper: </label>
		<input type="file" class="form-control" 
				[ngClass]="{'changeMouse':load}" 
				(change)="upload($event.target.files,'callforpaper')">
	</div>

	
	<div class="row form-group col-lg-10">
		<label for="title"> Upload Image: </label>
		<input type="file" class="form-control" 
				[ngClass]="{'changeMouse':load}" 
				(change)="upload($event.target.files,'image')">
	</div>
	
	<button type="submit" class="btn btn-primary mb-2" align="center" (click)='PostData()' >Submit</button>
		<br/><br/>
		<span *ngIf="showtime">
	<span *ngIf="result.type == 'true'"> &#x2714; {{result.msg}}</span>
	<span *ngIf="result.type == 'false'"> &#x2717; {{result.msg}}</span>
	</span>	
	<br/><br/>
		<div class="row form-group col-lg-10" *ngIf="edit">
		<br/><br/>
		<h6>Previously uploaded files for this conference:</h6>
	<table class="table borderless" >
	<thead>
		<tr>
			<td>File</td>
			<td>Type</td>
			<td>Action</td>
			<td>Preview</td>
		</tr>
	</thead>
	<tbody>
			<tr *ngFor="let file of files">
			<td><a href="{{file.path}}" download="{{file.path}}"> Download</a></td>
			<td>{{file.status}}</td>
			<td (click)="deletethis(file.id)" id="links">Delete</td>
			<td (click)="popup(file.path)"><img src="{{file.path}}" alt="conf photo" height="150" width="150"/> </td>
			</tr>
			
	
	</tbody>
	
	</table>
	</div>
	<span *ngIf="files?.length<1"> No Previous Files Uploaded for this Conference.</span>
</div>