 <div class="card">
	  <div class="card-header">
			<h4 class="card-title">{{conf_details_evil.title}}</h4>
	  </div>
	  
  
  <div class="card-body">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<p class="card-text"> {{conf_details_evil.description }}</p>
				<p class="card-text"> From {{conf_details_evil.from_date }}- To {{conf_details_evil.to_date }} in {{conf_details_evil.country}}</p>
				<a (click)="toggle('details')" class="btn btn-primary"><span style="color:white"> {{ toggleview }} </span> </a>
				<table class="table borderless" *ngIf="showdetails==true">
					<tbody>
						<tr *ngIf="conf_details_evil.callpaper != null"> 
							<td> Call for paper -> </td>
							<td> <a href= "{{conf_details_evil.callforpaper}}" download="{{conf_details_evil.callpaper}}" >Click to Download</a>
							<span> Link to be updated soon! </span>
							</td>
						
						</tr>
						<tr *ngFor="let conf of conf_details_good | keyvalue:compareFn">
							<td> {{ conf.key}} ->	</td>
							<td> {{ conf.value}} </td>
						</tr>
						<tr> 	<td>Tags -></td>
								<td *ngFor="let cat of conf_details_evil.category"> {{ cat.category_name }}</td>
						</tr>		
					</tbody>
				</table>
			</div>
  	
			<div class="col-lg-3">
				<img src="{{conf_details_evil.picture}}" alt="Some Nice Conf Picture" class="card-img-top"  />
			</div>
		</div>
	</div>
  </div>
	
	
  <div class="card-footer">    
	<p class="card-text">Registration Opens on {{ opendate }} and ends on {{ closedate }}.</p>
	<a (click)="toggle('s_abstract',target)" class="card-link" id="links">Submit Abstract</a>
	<a class="card-link" id="links">Compose Query Mail </a>
    <a class="card-link" id="links" (click)="goback()">Go back to other conferences</a>
	<br/>
	</div>
	<app-register [id]="conf_details_evil.id" *ngIf="showabstract==true"></app-register>
</div>

