.borderless td, .borderless th {
    border: none;
}

#links{
	color: blue;
	
}

#links:hover{
	cursor: pointer;
	text-decoration: overline;
}

#links:active{
	background-color: yellow;
}
