<div class="container">
<div class="row">
<div class="col-sm-2">
<app-sidebar></app-sidebar>
</div>
<div class="col-sm-10" style="margin-top:20px">

	
	<router-outlet></router-outlet>

	
	<a routerLink="/" routerLinkActive #rla="routerLinkActive" [routerLinkActiveOptions]="{exact:true}">
	<h2 *ngIf="rla.isActive" class="lead beauty" ><span style="font-size:30px">&#8592; </span>
		Click on any link on the left to start!</h2>
		</a>

		 
</div>
</div>
</div>