 <!-- <p>
  sidebar works! {{ (loggedIn | async) }}
</p>
  -->
 
 <div class="container" *ngIf="(loggedIn | async)">
   <ul class="nav flex-column">
    <li class="nav-item" *ngFor="let item of menuItems">
      <a class="nav-link" routerLink="{{item.path}}" id="links">{{item.title}}</a>
    </li>
	<li class="nav-item">
	<a class="nav-link" (click)="logout()" id="links"> Log Out</a>
	</li>
  </ul>
</div>