<div class="container" align="center">
	<form [formGroup]='newRegForm' (ngSubmit)="PostData(newRegForm)">
	<div class="row form-group col-lg-10">
		<label for="title"> Organization Name: </label>
		<input type="text" class="form-control" formControlName='Organization'>
	</div>
	
	<div class="row form-group col-lg-10">
		<label for="title"> Full Name: </label>
		<input type="text" class="form-control" formControlName='Fullname'>
	</div>
	
	<div class="row form-group col-lg-10">
		<label for="title"> Email Address: </label>
		<input type="text" class="form-control" formControlName='Email'>
	</div>
	
	<div class="row form-group col-lg-10">
		<label for="title"> Mobile Number: </label>
		<input type="text" class="form-control" formControlName='Mobnumber'>
	</div>
	
	<div class="row form-group col-lg-10">
		<label for="title"> Abstract Title 1: </label>
		<input type="text" class="form-control" formControlName='Title'>
	</div>
	
	<div class="row form-group col-lg-10">
		<label for="title"> Upload Abstract File 1: </label>
		<input type="file" class="form-control" 
		[ngClass]="{'changeMouse':load}"
		(change)="upload($event.target.files)"
		>
	</div>
	
	<a> Add more Abstracts </a>
	
	// add multiple abstracts using redux
	<button type="submit" class="btn btn-primary mb-2" align="center" (click)="showtime=true">Submit</button>
	</form>
	<div *ngIf="showtime">
	<span *ngIf="result.type">	 &#x2714; {{result.msg}} Upon selection of abstract, a mail will be sent to your id with login credentials.</span> 
	<span *ngIf="!result.type"> &#x2717; {{result.msg}}</span>
	</div>
	

</div>