<div class="container row">
	<div class="col-lg-6">
	<form [formGroup]='newCatForm' (ngSubmit)="PostData(newCatForm)">
	
	<div class="row form-group col-lg-10">
	<label> Select Parent Category if any: </label>
	<select formControlName="Parentcat" class="form-control" (click)="selectedsomething=true">
	<option [value]="none"> None</option>
	<option [value]="cat.id" *ngFor="let cat of categories_par">{{cat.category_name}}</option>
	</select>
	</div>
	
	<div class="row form-group col-lg-10">
	<label>New Category:</label>
	<input type="text" class="form-control" formControlName="Newcat" name="Newcat"/>
	</div>
	
	<button type="submit" class="btn btn-primary mb-2" align="center" (click)="showtime=true">Submit</button>
	</form>
	<div *ngIf="showtime">
	<span *ngIf="result.type"> &#x2714; {{result.msg}}</span>
	<span *ngIf="!result.type"> &#x2717; {{result.msg}}</span>
	</div>
	
	</div>
	
	<div class="col-lg-6" *ngIf="selectedsomething">
	<h5>Previous Categories for This &#x2199;</h5>
	<ul>
	 <li *ngFor="let cat of categories_child">{{cat.category_name}}</li>
	</ul>
	<span *ngIf="categories_child?.length< 1"> Do not exist...?  </span>
	</div>
	
	</div>