<div class="container row" *ngIf='false'>
	<div class="col-lg-4">
  <label for="email">Country</label>
  <select class="form-control" name="country" [formControl]="country">
		<option value="">Any</option>
        <option value="India">India</option>
        <option value="Canada">Canada</option>
        <option value="USA">USA</option>
      </select>
	  </div>

	<div class="col-lg-4">
		<label for="pwd">Parent Category</label>
		<select class="form-control" id="priority" #name (change)="countrychanged(name.value)" name="priority">
			 <option value="IT">IT</option>
			<option value="Agriculture">Agriculture</option>
			<option value="Science">Science</option>
		</select>
	</div>
	  
	<div class="col-lg-4">
		<label for="pwd">Sub Category</label>
		<select class="form-control" id="priority" name="priority">
			<option value="Blockchain">TypeScript</option>
			<option value="Lands">Soil Testing</option>
			<option value="Violin">Microbiology</option>
        </select>
	</div>  
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" #key placeholder="Search">
  <div class="input-group-append">
    <button class="btn btn-success" type="submit" (click)="search(key.value)">Go</button> 
  </div>
</div>

<br/> <br/> <br/> 
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Conference Title</th>
      <th>Date</th>
      <th>Country</th>
	  <th><a id="links" (click)="archive()"># Run Archive</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conf of filteredconferences; index as i; ">
	  <td>{{i+1}}</td>
      <td><a (click)="clicked(conf,'participate')" id="links"> {{ conf.title }}</a></td>
      <td>{{ conf.from_date }} - {{ conf.to_date}}</td>
      <td>{{ conf.country }}</td>
	  <td><a (click)="clicked(conf,'editconference')" id="links">Edit</a></td>
	  <td><a (click)="clicked(conf,'deleteconference')" id="links">Delete</a></td>
    </tr>
  </tbody>
</table>
<span *ngIf="filteredconferences?.length< 1"> Sorry, no conferences available for these conditions</span>
{{message}}

